@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(gradation.png);
	background-repeat:repeat-x;
	background-color:#FFF;
	background-position:left bottom;
	background-attachment:fixed;
}

#container_innner {
	width:900px;
	padding:30px;
	background-color:rgba(255,255,255,0.5);
}

#header {
	width:900px;
	background-image:url(gradation_1.png);
}

#header_inner {
	padding:30px;	
}

#header h1 {
	margin:0;
	font-size:24px;
	color:#666;
}

#header p {
	margin:0;
	font-size:18px;
	color:#666;
}

#content {
	width:900px;
}

#content_inner {
	padding:30px;
	background-color:rgba(255,255,255,0.5);
}

#content h2 {
	font-size:22px;
	color:#666;
}

#content li {
	font-size:18px;
	color:#666;
}

#content table {
	width:500px;
	border-collapse:collapse;
}

#content th {
	width:100px;
	border:solid #aaaaaa;
	padding:8px;
	font-size:0.875em;
	color:#666;
	text-align:left;
}

#content th {
	border:solid #aaaaaa;
	padding:8px;
	font-size:0.875em;
	color:#666;
}

#content td {
	font-size:18px;
	color:#666;
}